$text: #181a1b;
$background: #f6f7f8;
$primary: #334552;
$secondary: #8eafc2;
$accent: #417290;

$dark-text: #e4e6e7;
$dark-background: #070809;
$dark-primary: #adbfcc;
$dark-secondary: #3d5e71;
$dark-accent: #6fa0be;